
.button_link {
    color:#FFF;
    text-decoration:none; 
    background-color:#428a8e;
    padding:10px;
}
#keyword{
    border: rgb(255, 252, 252) 1px solid; 
    border-radius: 4px; 
    padding: 7px;
    background-image: url("../images/demo-search-icon.png") no-repeat center right 7px;
    margin:20px 20px;
}
.btn-page{
    margin-right:10px;
    padding:5px 10px; 
    border: rgb(255, 255, 255) 1px solid; 
    background:#FFF; 
    border-radius:4px;
    cursor:pointer;
}
.btn-page:hover{
    background:#F0F0F0;
}
.btn-page.current{
    background:#F0F0F0;
}
